html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    font-family: var(--font);
}

:root {
    --font: '"Karla"', sans-serif;
    --font-color: #fff;
    --grad1: #feda75;
    --grad2: #fa7e1e;
    --grad3: #d62976;
    --grad4: #962fbf;
    --grad5: #4f5bd5;
    --viewed: gray;
    --bg-main: #000;
    --bg-live: red;
}

.stories-menu {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-top: 100px;
}

.story p{
    color:var(--font-color);
    display: grid;
    justify-items: center;
    font-size: 20px
}

.story{
    list-style: none;
    position: relative;
}

.img {
    border-radius: 50%;
    height: 110px;
    border: 4px solid black;
}

.img-wrapper{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewed .img-wrapper{
    background-color: var(--viewed);
}

.new .img-wrapper{
    background: conic-gradient(
        var(--grad1),
        var(--grad2),
        var(--grad3),
        var(--grad4),
        var(--grad5),
        var(--grad1) 
    );
}

.live:after{
    content: "LIVE";
    font-size: 1em;
    font-weight: bold;
    padding: 2px 4px;
    border: 4px solid black;
    background-color: var(--bg-live);
    color: white;
    width:35px;
    position: absolute;
    top: 54%;
    margin: auto;
    left: 0;
    right: 0;
}

