body,
html {
  margin: 0;
}

:root {
  --spinner: #f3f3f3;
  --spinner-active: purple;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 150px;
  height: 150px;
  border: 22px solid var(--spinner);
  border-top: 22px solid var(--spinner-active);
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    border-top-color: blue;
  }

  25% {
    transform: rotate(144deg);
    border-top-color: red;

  }

  50% {
    transform: rotate(216deg);
    border-top-color: yellow;

  }

  75% {
    transform: rotate(288deg);
    border-top-color: green;

  }

  100% {
    transform: rotate(360deg);
    border-top-color: pink;

  }


}