html,
body {
    margin: 0;
    padding: 0;
    background-color: #0d1116;

}

:root {
    --graph-bg: #000;
    --default-square-bg: #161b22;
    --level3: darkblue;
    --level5: blue;
    --level10: lightskyblue;
}

li[data-value="0"] {
    background: var(--default-square-bg)
}

li[data-value="3"] {
    background: var(--level3);
}

li[data-value="5"] {
    background: var(--level5);
}

li[data-value="10"] {
    background: var(--level10);
}

ul{
    list-style-type: none;
    padding-left: 0;
    
}

.graph {
    display: grid;
    grid-template-columns: repeat(52, 1fr);
    background: var(--graph-bg);
    padding: 1em;
}



.square{
    height: 10px;
    width: 10px;
    border-radius: 2px;
    margin:3px;
    background: var(--default-square-bg);
}


