html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --progressbar-bg: lightgrey;
    --start: red;
    --middle: blue;
    --finish: green;
    --height: 50px;
    --width: calc(var(--height) * 10)
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    height: var(--height);
    width: var(--width);
    background-color: var(--progressbar-bg);
    border-radius: 30px;
    /* animation: barra 5s infinite 3s; */
}

.progress-status{
    height: var(--height);
    animation: barra 6s infinite ;
}


@keyframes barra {

    0% {
        background-color: var(--start);
        width: 0px;
    }

    33% {
        background-color: var(--middle);
        width: 250px;

    }

    66% {
        background-color: var(--finish);
        width: 500px;

    }

    100% {
        background-color: var(--finish);
        width: 500px;

    }
}