html, body {
    margin: 0;
    padding: 0;

}

:root {
    --card-height: 400px;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.border{
    display: flex;
    flex-direction: column;
    font-size: 35px;
}


.card{
    height: var(--card-height);
    width: calc(var(--card-height) * 2/3);
    border: 1px solid black;
    border-radius: 10px;

}

.top{
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* margin-bottom: 30px; */
}

.center{
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.bottom{
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin:-20px;
}