html,
body {
    margin: 0;
    padding: 0;

}

:root {
    --card-height: 400px;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.border {
    display: flex;
    flex-direction: column;
    font-size: 35px;
}


.card {
    height: var(--card-height);
    width: calc(var(--card-height) * 2/3);
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
}

.top {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    align-items: center;
    margin-right: 300px;

}

.center {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    font-size: 100px;
}

.bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-left: -20px;
    margin-bottom: 10px;
    transform: rotate(180deg);
    align-items: center;
    margin-left: 55px;


}