html,
body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #c9d1d9;
    font-family: var(--font-main);
}

:root {
    --font-main: 'Noto Sans', sans-serif;
    --main-bg: #000;
    --profile-bg: #0d1117;
    --profile-color: #c9d1d9;
    --profile-img-border: #2e343b;
    --username-font-color: #8b949e;
    --username-font-weight: 400;

    --btn-bg: #21262d;
    --btn-color: #c9d1d9;
    --btn-bg-hover: #30363d;
    --btn-border: #373b43;
    --btn-border-hover: #8c949e;
}

.profile-container {
    background-color: var(--main-bg);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.profile-content {
    background-color: var(--profile-bg);
    padding:20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-content img {
    border-radius: 50%;
    width: 260px;
    margin-bottom: -20px;
    border: 2px solid var(--profile-img-border);
}

.profile-details {
    padding: 20px;
}

.profile-details button {
    all: unset;
    text-align: center;    
    padding: 0.25px;
    width: 100%;
    border-radius: 5px;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border-color: blue;
    border-width: 100px;
    border: 1px solid var(--btn-border);
}

.profile-details button:hover {
    border:1px solid var(--btn-border-hover);
    background-color: var(--btn-bg-hover);
}

.profile-details h2 {
    margin-bottom: -17px;
}

.profile-details h3 {
    font-size: 1em;
    font-weight: var(--username-font-color);
    color:var(--username-font-color);
}