body, html { 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;}


:root {
  --jeopardy-blue: #060CE9;
  --font-color-main: #fff;
}

.card{
  height: 200px;
  width: 400px;
  background-color: var(--jeopardy-blue);
  border-radius: 10px;
  padding: 20px;
  color:  var(--font-color-main);
  display: flex;
  justify-content:  center;
  align-items: center;
  text-transform: uppercase;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

 #toggle{
  display: none;
}


#toggle:checked +  .card-front{
    transform: rotateY(180deg);

  display: none;
}
#toggle:checked +  .card-back{
  display: block;
  transform: rotateY(180deg);
} 

#toggle:not(:checked)  ~ .card-front{
  
  display:  block;
}
#toggle:not(:checked) ~ .card-back{
  display:  none;
}

/* .card:hover {
  transform: rotateY(180deg);
}

.card-back{
  display: none;
}

.card:hover .card-front {
  display: none;
} 

.card:hover .card-back {
  display: block;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
}
  */
